<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fox 5 Atlanta News Headlines</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <main>
        <h1>Atlanta Headlines Today!</h1>
        <ul class="headlines">
            {% for headline in headlines %}
            <li class="headline">
                <h2>{{headline.title}}</h2>
                <p>{{headline.text}}</p>
                <div class="link">
                    <a href="https://www.fox5atlanta.com{{headline.link}}">Link Here</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
